<div class="container">
  <div class="table-responsive" style="margin-top: 5%;">
    <table class="table table-striped table-bordered table-hover" style="width:100%" id="tabla">
      <thead>
        <tr>
          <td>userId</td>
          <td>Id</td>
          <td>tittle</td>
          <td>body</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listOfData" >
          <td>{{item.userId}}</td>
          <td>{{item.id}}</td>
          <td>{{item.title}}</td>
          <td>{{item.body}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 